body {

}

#content {
     margin-left: 20px;
}

.posted {
	margin-top: 2px;
	margin-bottom: 1px;
	border-bottom: 1px;
	border-top: 1px;
	border-left: 3px;
	border-right: 1px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
}

p.name {
	margin-bottom: 3px;
	margin-left: 2px;
}

p.message {
	margin-left: 5px;
}
