<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   
    </div>
      
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
	  <li ><a href="/p2">Page 1</a></li>
	  <li ><a href="/p3">Page 2</a></li>
	  <li ><a href="/p4">Page 3</a></li>
	  <li ><a href="/p5">Page 4</a></li>
	  <li ><a href="/p6">Page 5</a></li>
	  <li ><a href="/p7">Page 6</a></li>
	  <li ><a href="/end">Done</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
